<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">WSB-NLU MVC</a>
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                <li>@Html.ActionLink("O firmie", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                <li>@Html.ActionLink("O firmie", "About", "Home")</li>
                <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        @RenderBody()
    </div>
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">O sklepie</h5>

                        <p class="light">Sklep jest doskonały. Sklep jest doskonały. Sklep jest doskonały. Sklep jest doskonały</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">O firmie</h5>

                        <p class="light">Firma jest doskonała. Firma jest doskonała Firma jest doskonała Firma jest doskonała Firma jest doskonała Firma jest doskonała</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">O towarach</h5>

                        <p class="light">Towary są doskonałe Towary są doskonałe Towary są doskonałe Towary są doskonałe</p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>

        <div class="section">
        </div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">WSB-NLU</h5>
                    <p class="grey-text text-lighten-4">Witamy</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by WSB-NLU
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script>
      (function($){
          $(function(){
            $('.sidenav').sidenav();
          }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
